html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
/* ol,
ul {
  list-style: none;
} */
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body{
    font-size: 18px;
}
 
.container {
  max-width: 1180px;
  /* padding: 0 25px; */
}
 
.header{
    padding-top:5px;
}
.vov {
  padding-bottom: 40px;
}
.vov__name {
  display: flex;
  justify-content: right;
 
  list-style: none;
}
.vov__name li {
  margin-right: 20px;
}
 
.vov__name li:nth-child(2), .vov__name li:nth-child(4),.vov__name li:nth-child(6), .vov__name li:nth-child(8), .vov__name li:nth-child(10), .vov__name li:nth-child(12), .vov__name li:nth-child(14), .vov__name li:nth-child(16){
    width: 2px;
    height: 15px;
    background-color: black;
}
.infor {
  display: flex;
  justify-content: center;
  align-items: center;
}
.infor div {
  margin-right: 50px;
}
.infor__logo img {
  width: 140px;
  height: 60px;
  object-fit: contain;
}
.infor__logoSocial {
  display: flex;
  
}
.icon {
  display: flex;
  flex-direction: row;
  width: 12%;

}
.icon a {
  width: 50%;
  padding-left: 10px;
}
.icon img {
  width: 100%;
}

 
/* main {
 Phượng
}
  */
  .header-menu {
    background-color: #185c98;
    padding-left: 30px;
    margin-top: 10px;
  }
  ul  {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
     
    }
   
    li {
      float: left;
    }
   
    li a  {
      display: block;
      color: white;
      text-align: center;
      padding: 13px 14px;
      text-decoration: none;
    }
    .fa-home,.fa-bars{
         display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    li a:hover {
      background-color: #111;
    }
    .lwlink_block {
      width: 155px;
      height: 57px;
      border: 0.5px solid #c4c4c4;
      box-sizing: border-box;
      border-radius: 10px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      background: #fff;
      font-size: 16px;
      transition: all 0.5s;
    }
    .child-name,
    .fa-circle-play,
    .fa-caret-right,
    .title-update{
      color: #c02a29;
    }
.main {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.small{
    padding: 0 30px;
}
.card__main{
    width: 600px;
 
}
.card__main img {
  width: 600px;
  object-fit: contain;
}
.card__main .title{
    padding:10px 0 10px 0;
    font-size: 25px;
}
.nav__list{
    padding-left: 20px;
}
.card__small{
    width: 300px;
 
}
.card__small img {
  width: 300px;
  object-fit: contain;
}
.card__news--content {
  display: flex;
}
.card__news--content div {
  margin-right: 10px;
  padding-top: 20px;
}
.card__news .title{
    font-size: 20px;
}
.card__news {
    width: 300px;
}
.card__news img {
  width: 100px;
  object-fit: contain;
}
 
.big__title{
  color:rgb(35, 112, 156);
  font-size: 30px;
}
.content__title{
  font-size: medium;
}